cached-property==1.5.2
certifi==2024.8.30
charset-normalizer==3.4.0
click==7.1.2
idna==3.10
joblib==1.4.2
lxml==4.9.4
numpy==2.2.0
packages==0.1.1
pandas==2.2.3
pymongo==3.13.0
python-dateutil==2.9.0.post0
pytz==2024.2
redis==3.5.3
requests==2.32.3
requests-cache==0.5.2
scikit-learn==1.6.0
scipy==1.14.1
six==1.17.0
threadpoolctl==3.5.0
tqdm==4.67.1
tzdata==2024.2
urllib3==2.2.3
